.single-content-container {

    width: 100%;
    padding: 1rem;
    
    .single-content{


        background: #1e252e;
        color: #fff;
        padding: 2rem;

        &-title-holder{
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
            i {
                font-size: 1.5rem;
                opacity: 50%;
                cursor: pointer;
            }
        }

        &-icons {
            display: none;
            gap: 20px;
        }

    }
    
    //Content style
    p{
        padding-top: 1rem;
        font-size: 1.8rem;
        font-weight: 300;
        
    }
    
}

