.create-page-container{

    padding:3rem;

.add-box {
    width: 200px;
    height: 100px;
    background: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
}