.create-page-container{

    padding:3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

.add-box {
    width: 200px;
    height: 100px;
    background: red;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    
}
}